:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #FFE6E6;
  --black2: #041226;
  --black3: #fec7b4;
  --black-lighter: #FEC7B4;
  --black-light: #F7418F;
  --pink: #da2f68;
  --orange: #f89e00;
  --gradient: linear-gradient(180deg, rgba(254,199,180,1) 18%, rgba(252,129,158,1) 99%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}

::-webkit-scrollbar {
  display: none;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: rgb(254,199,180);
  &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(90deg, rgba(254,199,180,1) 16%, rgba(254,199,180,1) 48%, rgba(252,129,158,1) 99%);
      animation: shimmer 2s infinite;
      content: "";
  }

  @keyframes shimmer {
      100% {
          transform: translateX(100%);
      }
  }
}